/* <!-- Sky chord chart: a table with rounded edges (SVG only) --> */
svg rect.harp {
  fill:rgb(54, 57, 63);
  stroke-width:1;
  stroke:white;
}

/* <!-- Sky chord chart: a table with rounded edges and thick edges (for rendering PNG from SVG only) --> */
svg rect.harp-png {
  fill:rgb(54, 57, 63);
  stroke-width:3;
  stroke:white;
}
