@media (prefers-reduced-motion: reduce)
{
	html { scroll-behavior: auto; }
}

html { scroll-behavior: smooth; }

/* <!-- Navigation table --> */
#navigation { border: none; }

/* <!-- Song table --> */
#transcript { margin: 0 0; }

/* <!-- Defines the em unit --> */
body
{
	font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK KR", "Noto Sans CJK SC", "Noto Sans CJK TC", "Avenir", "Arial", "sans-serif";
	font-size: 12pt;
	color: white;
	background-color: #121212;
}

h1
{
	font-size: 1.3em;
	font-weight: bold;
}

/* <!-- Song sheet header --> */
.header
{
	font-size: 0.8em;
	line-height: 50%;
	color: white;
}

/* <!-- Song line --> */
.line
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.lyrics
{
	margin-left: 0.5rem;
	margin-bottom: 0.35rem;
	border: 0px white solid;
	width: 8.11em;
	font-size: 0.8em;
	text-align: center;
	color: white;
}

/* <!-- Rulers --> */
hr
{
	border: none;
	margin-left: 0;
	padding: 0;
	margin-right: 1.8em;
	width: 100vw;
}

hr.sep { border-top: thin solid lightgray; width: 93vw; }
hr.solid { border-top: thin solid white; }
hr.double { border-top: medium double white; }
hr.dashed { border-top: thin dashed white; }

.repeat, .num
{
	font-size: 0.8em;
	align-self: flex-end;
	margin: 2px;
	color: white;
}

.num
{
	color: grey;
	padding-left: 2em;
}

.broken
{
	color: red;
	font-weight: bold;
}

.instr.silent, .instr.broken
{
	border-width: 0;
	background-color: transparent;
}

@media (prefers-color-scheme: dark)
{
	body { background-color: #121212; }
	.instr.harp { border-color: white; }
	p, body, td, text.headers { color: white; }
}
