
svg rect.background { fill: #282828; }

/* <!-- Makes the table disappear in case of broken instrument  --> */
svg.broken rect {
  fill:none;
  stroke-width:0;
  stroke:white;
  font-size: 6em;
}

/* <!-- Silent table --> */
svg.silent rect:not([class*="-background"]) {
  stroke: grey;
  stroke-width:0;
  fill: none;
}

/* <!-- Middle note button when the harp is silent --> */
svg[class*="harp"].silent svg.button-7 .silent.icon {
  stroke-width:0;
  stroke:white;
  fill:#BBBBBB;
  opacity:1;
}

/* <!-- Middle note button when the drum is silent --> */
svg[class*="drum"].silent svg.button-5 .silent.icon {
  stroke-width: 0;
  stroke: white;
  fill: #BBBBBB;
  opacity: 1;
}

svg text {
    font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK KR", "Noto Sans CJK SC", "Noto Sans CJK TC", "Avenir", Arial, sans-serif;
  	stroke: none;
  	fill: white;
}

/* <!-- Song title --> */
svg text.title {
    font-size: 1.3em;
    font-weight: bold;
}

/* <!-- Sky voice --> */
svg text.voice {
  font-size: 0.8em;
  dominant-baseline: middle;
}

svg text.bold
{
	font-size: 1em;
	font-weight: bold;
}

svg text.italic
{
	font-size: 1em;
	font-style: italic;
}

svg text.h1
{
	font-size: 1.3em;
	font-weight: bold;
}

svg text.h2
{
	font-size: 1.15em;
	font-weight: bold;
}

/* <!-- Line number --> */
svg text.num {
  font-size: 0.8em;
  stroke: grey;
  fill: grey;
}

/* <!-- Bottom-left corner repetition mark --> */
svg.repeat text.repeat {
  dominant-baseline: baseline;
  font-size: 0.9em;
}

/* <!-- Note backgrounds: actually used --> */
/* <!-- Note backgrounds: actually used --> */
svg .r1 { fill: limegreen; }
svg .r2 { fill: deepskyblue; }
svg .r3 { fill: deeppink; }
svg .q1 { fill: rgb(253,231,36); }
svg .q2 { fill: rgb(144,214,67); }
svg .q3 { fill: rgb(53,183,120); }
svg .q4 { fill: rgb(32,144,140); }
svg .q5 { fill: rgb(48,103,141); }
svg .q6 { fill: rgb(68,57,130); }
svg .q7 { fill: rgb(68,1,84); }

/* <!-- Rulers --> */
svg line.sep {
    stroke: white;
    stroke-width: 0.15em;
}

svg line.solid {
    stroke: white;
    stroke-width: 0.15em;
}

svg line.dashed {
    stroke: white;
    stroke-width: 0.15em;
    stroke-dasharray: '10,10';
}

svg line.double {
    stroke: white;
    stroke-width: 0.15em;
}


