html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* <!-- Defines the em unit--> */
body {
  font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK KR", "Noto Sans CJK SC", "Noto Sans CJK TC", "Avenir", Arial, sans-serif;
  font-size: 12pt;
}

/* <!-- Song title --> */
h1, svg text.title {
    font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK KR", "Noto Sans CJK SC", "Noto Sans CJK TC", "Avenir", Arial, sans-serif;
    font-size: 1.3em;
    font: bold;
}

/* <!-- Song headers (HTML only) --> */
p, svg text.headers {
    font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK KR", "Noto Sans CJK SC", "Noto Sans CJK TC", "Avenir", Arial, sans-serif;
    font-size: 0.8em;
    line-height: 50%;
}

.root, .diamond, .circle {
  transform: scale(1.0);
  -ms-transform: scale(1.0);
  -webkit-transform: scale(1.0);
}

/* <!-- Alignment of SVG (HTML only) --> */
/* <!-- Seems to have no effect ? --> */
.root svg, .diamond svg, .circle svg {
  display: inline-block;
  vertical-align: middle;
}

/* <!-- Sky chord chart: a table with rounded edges (HTML only) --> */
table {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 0px;
  padding: 0px;
  display: inline-block;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-spacing: 0 auto;
}

/* <!-- Sky chord chart: a table with rounded edges (SVG only) --> */
svg rect.harp {
  fill:white;
  stroke-width:1;
  stroke:black;
}

/* <!-- Sky chord chart: a table with rounded edges and thick edges (PNG only) --> */
svg rect.harp-png {
  fill:white;
  stroke-width:3;
  stroke:black;
}


/* <!-- WARNING: The td font size affects the note size! (HTML only)--> */
td {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  font-size: 1.0em;
}

/* <!-- Makes the table disappear in case of broken chord  (HTML only)--> */
table.broken {
  border-color: white;
  border-width: 0;
}

/* <!-- Makes the table disappear in case of broken chord  (SVG only)--> */
svg.broken rect{
  fill:none;
  stroke-width:0;
  stroke:white;
}

/* <!-- Silent table  (HTML only)--> */
table.silent {
  border-color:#BBBBBB;
  border-width:0;
}

/* <!-- Silent table  (HTML only)--> */
svg.silent rect {
  stroke: grey;
  stroke-width:0;
  fill:none;
}

table.voice {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 0px;
  padding: 0px;
  border-radius: 0px;
  border-width: 0px;
}

table.voice td {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  font-size: 0.8em;
  width: 7.5em;
  text-align: center;
}

/* <!-- Sky voice (SVG only) --> */
svg text.voice {
  font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK KR", "Noto Sans CJK SC", "Noto Sans CJK TC", "Avenir", Arial, sans-serif;
  font-size: 0.8em;
  stroke: none;
  fill:black;
  dominant-baseline: middle;
}

/* <!-- Invisible table to contain the repetition mark --> */
table.repeat {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  border-width: 0px;
  font-size: 0.9em;
}

/* <!-- Bottom-left corner repetition mark --> */
svg.repeat text.repeat {
  stroke: none;
  fill:black;
  dominant-baseline: baseline;
  font-size: 0.9em;
  font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK KR", "Noto Sans CJK SC", "Noto Sans CJK TC", "Avenir", Arial, sans-serif;
}


/* <!-- Horizontal line --> */
hr {
  height: 2px;
  background-color: #BBBBBB;
  border: none;
  opacity: 1;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 4px;
}

svg line.divide {
    stroke: grey;
    stroke-width: 1.0px;
}

table svg.button-0,
table svg.button-1,
table svg.button-2,
table svg.button-3,
table svg.button-4,
table svg.button-5,
table svg.button-6,
table svg.button-7,
table svg.button-8,
table svg.button-9,
table svg.button-10,
table svg.button-11,
table svg.button-12,
table svg.button-13,
table svg.button-14 {
  width: 1em;
  height: 1em;
}

/* <!-- Small buttons showing notes positions --> */
svg.button-0 .OFF.icon,
svg.button-1 .OFF.icon,
svg.button-2 .OFF.icon,
svg.button-3 .OFF.icon,
svg.button-4 .OFF.icon {
  stroke-width: 0;
  stroke: white;
  fill: rgb(194,240,194);
  opacity: 1;
}

/* <!-- Small buttons showing notes positions --> */
svg.button-5 .OFF.icon,
svg.button-6 .OFF.icon,
svg.button-7 .OFF.icon,
svg.button-8 .OFF.icon,
svg.button-9 .OFF.icon {
  stroke-width: 0;
  stroke: white;
  fill: rgb(179,236,255);
  opacity: 1;
}

/* <!-- Small buttons showing notes positions --> */
svg.button-10 .OFF.icon,
svg.button-11 .OFF.icon,
svg.button-12 .OFF.icon,
svg.button-13 .OFF.icon,
svg.button-14 .OFF.icon {
  stroke-width: 0;
  stroke: white;
  fill: rgb(255,185,223);
  opacity: 1;
}

/* <!-- Note background when the chord is or is silent --> */
table.broken .ON-0.button,
table.silent .ON-0.button {
  stroke-width: 0;
  stroke: white;
  fill: none;
}

/* <!-- Small note buttons when the chord is broken --> */
table.broken .OFF.icon,
svg.broken .OFF.icon {
  stroke-width: 0;
  stroke: white;
  fill: none;
}

/* <!-- Small note buttons when the chord is silent --> */
table.silent .OFF.icon,
svg.silent .OFF.icon {
  stroke-width: 0;
  stroke: white;
  fill: none;
}

/* <!-- Middle note button when the chord is silent --> */
table.silent svg.button-7 .OFF.icon,
svg.silent svg.button-7 .OFF.icon,
svg.silent.button-7 .OFF.icon {
  stroke-width: 0;
  stroke: white;
  fill: #BBBBBB;
  opacity: 1;
}

/* <!-- Red question mark when table is broken --> */
table.broken text,
svg.broken text {
  fill: red;
  text-anchor:middle;
  font-size:600%;
  stroke-width:0.05em;
  stroke:red;
}


/* <!-- Note decoration (circle, diamond) --> */
.ON-0.icon {
  stroke-width: 5;
  stroke: white;
  fill: none;
}

/* <!-- Note background color in first row --> */
svg.button-0 path.ON-0,
svg.button-1 path.ON-0,
svg.button-2 path.ON-0,
svg.button-3 path.ON-0,
svg.button-4 path.ON-0 {
  fill: limegreen;
  opacity: 1.0;
}

/* <!-- Note background color in second row --> */
svg.button-5 path.ON-0,
svg.button-6 path.ON-0,
svg.button-7 path.ON-0,
svg.button-8 path.ON-0,
svg.button-9 path.ON-0 {
  fill: deepskyblue;
  opacity: 1.0;
}

/* <!-- Note background color in third row --> */
svg.button-10 path.ON-0,
svg.button-11 path.ON-0,
svg.button-12 path.ON-0,
svg.button-13 path.ON-0,
svg.button-14 path.ON-0 {
  fill: deeppink;
  opacity: 1.0;
}

/* <!-- Element background color for icons in ../elements
Set to none to have a transparent SVG, and a transparent PNG with alpha layer (RGBA) later
Set to white to make the background white in RGB mode, and the PNG background white when converted to RGB
--> */
svg rect.harp-background {
  fill:white;
}

svg rect.note-background {
  fill:white;
}

/* <!-- Below the styles for buttons in a quaver --> */
.ON-7 {
  fill: rgb(68,1,84);
  opacity: 1.0;
}

.ON-7.icon {
  stroke-width: 3;
  stroke: white;
  fill: none;
}

.ON-6 {
  fill: rgb(68,57,130);
  opacity: 1.0;
}

.ON-6.icon {
  stroke-width: 3;
  stroke: white;
  fill: none;
}

.ON-5 {
  fill: rgb(48,103,141);
  opacity: 1.0;
}

.ON-5.icon {
  stroke-width: 3;
  stroke: white;
  fill: none;
}


.ON-4 {
  fill: rgb(32,144,140);
  opacity: 1.0;
}

.ON-4.icon {
  stroke-width: 3;
  stroke: white;
  fill: none;
}

.ON-3 {
  fill: rgb(53,183,120);
  opacity: 1.0;
}

.ON-3.icon {
  stroke-width: 3;
  stroke: white;
  fill: none;
}

.ON-2 {
  fill: rgb(144,214,67);
  opacity: 1.0;
}

.ON-2.icon {
  stroke-width: 3;
  stroke: white;
  fill: none;
}

.ON-1 {
  fill: rgb(253,231,36);
  opacity: 1.0;
}

.ON-1.icon {
  stroke-width: 3;
  stroke: white;
  fill: none;
}

#navigation {
  border: none;
}

#transcript {
  margin: 0 0;
}
