@media (prefers-reduced-motion: reduce)
{
	html { scroll-behavior: auto; }
}

html { scroll-behavior: smooth; }

/* <!-- Navigation table (HTML only) --> */
#navigation { border: none; }

/* <!-- Song table (HTML only) --> */
#transcript { margin: 0 0; }

/* <!-- Defines the em unit (HTML only) --> */
body
{
	font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK KR", "Noto Sans CJK SC", "Noto Sans CJK TC", "Avenir", "Arial", "sans-serif";
	font-size: 12pt;
}

h1
{
	font-size: 1.3em;
	font: bold;
}

.line
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.instr.harp
{
	margin-left: 0.5rem;
	margin-bottom: 0.35rem;
	border-radius: 5px;
	border: 1px black solid;
	display: grid;
	grid-template-columns: repeat(5, 1.3em);
	grid-template-rows: repeat(3, 1.4em);
	width: fit-content;
}

.lyrics
{
	margin-left: 0.5rem;
	margin-bottom: 0.35rem;
	border: 0px black solid;
	width: 8.11em;
	font-size: 0.8em;
	text-align: center;
}

.header
{
	font-size: 0.8em;
	line-height: 50%;
}

.repeat, .num
{
	font-size: 0.8em;
	align-self: flex-end;
	margin: 2px;
}

.num
{
	font-size: 0.8em;
	color: grey;
	align-self: flex-end;
	padding-left: 2em;
}

.broken
{
	color: red;
	font-weight: bold;
}

.instr.silent, .instr.broken
{
	border-width: 0;
	background-color: transparent;
}

.r1, .r2, .r3, [class^="q"]
{
	border-radius: 4px;
	margin: 2px;
	width: 1em;
	height: 1em;
	justify-self: center;
	align-self: center;
}

.r1 { background-color: limegreen; }
.r2 { background-color: deepskyblue; }
.r3 { background-color: deeppink; }
.n { background-image: none; }
.q1 { background-color: rgb(253,231,36); }
.q2 { background-color: rgb(144,214,67); }
.q3 { background-color: rgb(53,183,120); }
.q4 { background-color: rgb(32,144,140); }
.q5 { background-color: rgb(48,103,141); }
.q6 { background-color: rgb(68,57,130); }
.q7 { background-color: rgb(68,1,84); }
crc { background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91 91'%3E%3Ccircle fill='transparent' stroke='white' stroke-width='5px' cx='45.4' cy='45.4' r='25.5'%3E%3C/circle%3E%3C/svg%3E"); }
dmn { background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='1rem' height='1rem' viewBox='0 0 123.40601 123.40601'%0A%3E%3Cg transform='translate(-52.444184,-69.21989)'%0A%3E%3Crect style='fill:none;stroke:white ;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:100;stroke-dasharray:none;' width='64.633926' height='64.633926' x='140.97375' y='-20.454748' transform='rotate(45)' /%3E%3C/g%3E%3C/svg%3E"); }
crdm { background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='1rem' height='1rem' viewBox='0 0 123.40601 123.40601'%0A%3E%3Cg transform='translate(-52.444184,-69.21989)' %3E%3Crect style='fill:none;stroke:white;stroke-width:5px;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' width='64.633926' height='64.633926' x='140.97375' y='-20.454748' transform='rotate(45)' /%3E%3Ccircle style='fill:none;stroke:white;stroke-width:5px;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' cx='114.12409' cy='130.82843' r='31.938707' /%3E%3C/g%3E%3C/svg%3E"); }
d1 { background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='1rem' height='1rem' viewBox='0 0 123.40601 123.40601'%3E%3Ccircle stroke='none' fill='rgb(194,240,194)' cx='61.5' cy='61.5' r='14'%3E%3C/circle%3E%3C/svg%3E"); }
d2 { background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='1rem' height='1rem' viewBox='0 0 123.40601 123.40601'%3E%3Ccircle stroke='none' fill='rgb(179,236,255)' cx='61.5' cy='61.5' r='14'%3E%3C/circle%3E%3C/svg%3E"); }
d3 { background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='1rem' height='1rem' viewBox='0 0 123.40601 123.40601'%3E%3Ccircle stroke='none' fill='rgb(255,185,223)' cx='61.5' cy='61.5' r='14'%3E%3C/circle%3E%3C/svg%3E"); }
dn { background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='1rem' height='1rem' viewBox='0 0 123.40601 123.40601'%3E%3Ccircle stroke='none' fill='#BBBBBB' cx='61.5' cy='61.5' r='14'%3E%3C/circle%3E%3C/svg%3E"); }
silence { background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='1rem' height='1rem' viewBox='0 0 123.40601 123.40601'%3E%3Ccircle stroke='none' fill='#BBBBBB' cx='61.5' cy='61.5' r='28'%3E%3C/circle%3E%3C/svg%3E"); }

@media (prefers-color-scheme: dark)
{
	body { background-color: #121212; }
	.instr.harp { border-color: white; }
	p, body, td, text.headers { color: white; }
}
